<div class="card" style="width: 40rem" *ngIf="!isHidden">
  <h5 class="card-header text-white font-weight-bold text-center">Form</h5>
  <div class="card-body">
    <div class="container">
      <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">

        <div class="form-group">
          <label>Jumlah Pinjaman</label>
          <div class="input-group mb-3">
            <select
              name="loan"
              class="custom-select"
              formControlName="loan"
              [ngClass]="{'is-invalid' : form.get('loan').invalid && (form.get('loan').touched || form.get('loan').dirty)}"
            >
              <option value="">Pilih salah satu</option>
              <option *ngFor="let loan of loan" value="{{loan.value}}">{{loan.name}}</option>
            </select>
            <div class="invalid-feedback">
              <div>Jumlah pinjaman wajib diisi</div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label>Periode Pinjaman</label>
          <div class="input-group mb-3">
            <select
              name="period"
              class="custom-select"
              formControlName="period"
              [ngClass]="{'is-invalid' : form.get('period').invalid && (form.get('period').touched || form.get('period').dirty)}"
            >
              <option value="">Pilih salah satu</option>
              <option *ngFor="let period of period" value="{{period.value}}">{{period.name}}</option>
            </select>
            <div class="invalid-feedback">
              <div>Period pinjaman wajib diisi</div>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="fullName">Nama</label>
          <input
            type="text"
            class="form-control"
            placeholder="Masukan Nama Anda"
            formControlName="fullName"
            [ngClass]="{'is-invalid' : form.get('fullName').invalid && (form.get('fullName').touched || form.get('fullName').dirty)}"
          />
          <div *ngIf="form.get('fullName').invalid && (form.get('fullName').touched || form.get('fullName').dirty)" class="invalid-feedback">
            <div *ngIf="form.get('fullName').errors.required">Nama lengkap wajib diisi</div>
            <div *ngIf="form.get('fullName').errors.maxlength">Nama lengkap maksimal 50 karakter</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="bornDate">Tanggal Lahir</label>
          <input
            type="date"
            class="form-control"
            formControlName="bornDate"
            [ngClass]="{'is-invalid' : form.get('bornDate').invalid && (form.get('bornDate').touched || form.get('bornDate').dirty)}"
          />
          <div *ngIf="form.get('bornDate').invalid && (form.get('bornDate').touched || form.get('bornDate').dirty)" class="invalid-feedback">
            <div *ngIf="form.get('bornDate').errors.required">Tanggal lahir wajib diisi</div>
            <div *ngIf="form.get('bornDate').errors.ageRange">Maksimal umur 70 tahun</div>
          </div>
        </div>
        
        <div class="form-group">
          <div>
            <label for="gender">Jenis Kelamin</label>
          </div>
          <div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="gender1" name="gender1" class="custom-control-input" value="male" formControlName="gender1">
              <label class="custom-control-label" for="gender1">Laki-laki</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="gender2" name="gender1" class="custom-control-input" value="female" formControlName="gender1">
              <label class="custom-control-label" for="gender2">Perempuan</label>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <button type="submit" class="btn font-weight-bold text-white" [disabled]="!form.valid">Selanjutnya</button>
        </div>

      </form>
    </div>
  </div>
</div>

<div *ngIf="isHidden">
    <app-nik [formData]="form.value"></app-nik>
</div>
